.archives {
    table {
      border-collapse: collapse;
      width: 100%;

      .date { width: 19%; }
      .announcement { width: 81%; }

      tr { text-align: left; }
      td {
          padding: 6px 0;
          vertical-align: top;
          border: none;
      }
    }
}
