/*******************************************************************************
 * Customizing the style
 ******************************************************************************/
@use "sass:color";
@use "variables" as *;

// Variables

$ox-blue:                #002147;
$grey-dark:              #515151;
$page-padding:           50px;
$navbar-padding:         6px;

$font-family:           'Lato', 'Roboto', sans-serif !default;
$heading-font-family:   'Noto Sans', 'Roboto', sans-serif !default;
$monospace-font-family: 'Source Code Pro', 'Consolas', monospace !default;


// Typography

:root {
  //--global-text-color: #{$grey-dark};
}

header, h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

.font-weight-bold {
  font-weight: 500 !important;
}

body {
  font-family: $font-family;
  //font-weight: 400;
}

.desc, .post-description {
  color: $grey-color;
}

table th {
  font-weight: 400;
}

// Page padding

.container.mt-5 {
  padding: 0 $page-padding;
}

.fixed-top-nav .container.mt-5 {
  //padding-top: $page-padding;
}

body.sticky-bottom-footer {
  padding-bottom: $page-padding;
}

.navbar {
  border-bottom: none;

  .container {
    padding-top: $page-padding;
    padding-left: $page-padding;
    //padding-right: $page-padding;
  }
}

.post-header {
  margin-bottom: 40px;
}

// Navbar header

.navbar .title {
  color: inherit;

  &:hover {
    color: var(--global-theme-color);
    text-decoration: none;
  }
}

.navbar-brand.social {
  font-size: 1.25rem !important;
  padding-top: 0.3125rem !important;
  padding-bottom: 0.3125rem !important;
  text-align: inherit;

  margin-right: 0;
  margin-left: 10px;
  padding-right: $navbar-padding;

  a {
    margin-left: $navbar-padding;
  }
}

.navbar .toggle-container {
  padding-right: 6px;
}

a:hover .ai-arxiv::before {
  color: #b31b1b !important;
}

a:hover .ai-orcid::before {
  color: #a6ce39 !important;
}

// Menu hamburger

.navbar-toggler {
  padding-right: $navbar-padding; //0.75rem

  .icon-bar {
    fill: var(--global-text-color);
    transition: all 0.5s;
  }

  svg {
    width: 22px;
    height: 15px;
    viewBox: 0 0 22 15;

    .icon-bar {
      width: 22px;
      height: 3px;
      rx: 3px;
    }

    .top-bar {
      //transform: rotate(41deg)scaleX(1.25)translateY(-1.5px);
      //transform-origin: top left;
    }
    .middle-bar{
      y: 6px;
    }
    .bottom-bar {
      y: 12px;
      //transform: rotate(-41deg)scaleX(1.25)translateY(1.5px);
      //transform-origin: bottom left;
    }
  }
}

// Footer

footer.sticky-bottom {
  border-top: none;
  font-size: 0.75rem;
  padding-top: 0;

  .container {
    color: color.adjust($grey-color, $lightness: 15%);
    padding-left: $page-padding;
    padding-right: $page-padding;
    text-align: center;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

// Code

code {
  // Code preserves newlines and nowrap
  white-space: pre;
}


// Profile

.clearfix {
  padding-bottom: 1rem;
}

.profile.float-right {
  margin-left: 2rem;
}

.profile {
  margin: 0.50em;
  width: 33%;

  .contact {
    p {
      margin: 0;
      font-family: monospace;
      padding-left: 0.75rem; // 1em
      font-size: 0.75rem; // 12px
    }

    a {
      color: inherit;

      &:hover {
        color: var(--global-theme-color);
        text-decoration: none;
      }
    }
  }
}

ul {
  list-style: circle;
}

// News

h2.news {
  border-top: 1px solid var(--global-divider-color);
  margin-top: 30px;
  padding-top: 20px;
}

.news table caption {
  margin: 0;
  padding: 0;
  caption-side: bottom;
  text-align: right;
}

// Projects

.projects {
  .card-title {
    text-align: center;
    margin-top: 0.35em;
  }
}

// Publications

.publications {
  h2.bibliography {
    color: var(--global-theme-color);
    border-top: none;
    padding-top: 0;
    margin-top: 0;
    text-align: right;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  ol.bibliography {
    list-style: circle;
    padding-left: 40px;

    li div.abstract.hidden {
      border: none;
    }
    li div.award.hidden {
      border: none;
    }
  }

  .links a {
    &:hover {
      color: var(--global-theme-color);
    }
    &.active {
      color: var(--global-theme-color);
    }
  }

  .hidden.open {
    margin-top: 10px;
  }
}

// Teaching

.teaching {
  h2 {
    color: var(--global-theme-color);
    font-size: 1.5rem;
    text-align: right;
  }
  h3 {
    font-size: 1rem;
    font-weight: bolder;
  }

  ul {
    list-style: circle;
    ul {
      list-style: disc;
    }
  }
}

// Pagination

.pagination {
  .page-item {
    .page-link {
      &:hover {
        color: var(--global-theme-color);
        background-color: unset;
      }
    }

    &.active .page-link {
      color: var(--global-theme-color);
      background-color: unset;
      box-shadow: none;

      &:hover {
        background-color: unset;
        box-shadow: none;
      }
    }
  }
}
