---
layout: page
---

{% include relative.html %}

{% if page.profile %}
  <div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
      <img class="one" src="{{relative}}{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
    {% endif %}
    {% for var in page.profile %}
      {% if var.first != "align" and var.first != "image" %}
        <div class="contact">
          {{ var.first }}:
          {{ var.last }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{{ content }}
